
@font-face {
  font-family: Poppins;
  src: url(fonts/Poppins-Regular.ttf);
}

@font-face {
  font-family: Poppins-light;
  src: url(fonts/Poppins-Light.ttf);
}

@font-face {
  font-family: Poppins-extrabold;
  src: url(fonts/Poppins-ExtraBold.ttf);
}

@font-face {
  font-family: Poppins-semibold;
  src: url(fonts/Poppins-SemiBold.ttf);
}

a {
  text-decoration: none;
  color: grey;
}

a:hover {
  color: #172b4d;
}

li {
  list-style: none;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  line-height: 1.5em;
  display: grid;
  grid-template-columns: auto;
  color: #172b4d;
  height: 100%;
  background-color: #f7f7f9;
}

.nav-container {
  display: flex;
  flex-direction: column;
}

.nav-menu {
  display: none;
  flex-direction: column;
}

.nav-menu > li {
  display: flex;
  margin-right: 1%;
}

.nav-menu > li > a {
  align-self: center;
  font-size: 14px;
  color: #344563;
}

.nav-menu.active {
  right: 0;
}

.bar {
  display: block;
  width: 20px;
  margin: 3px auto;
  height: 2px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: #6070ff;
  overflow-y: scroll;
}

header {
  display: flex;
  font-weight: 700;
  font-family: Poppins-semibold, sans-serif;
  font-size: 1.125em;
  color: #6070ff;
  align-items: first baseline;
  flex-direction: row;
  justify-content: space-between;
  background-position: bottom 0;
  padding-left: 7%;
  padding-right: 7%;
  padding-top: 2%;
  background-color: white;
  height: 100%;
  flex-grow: 1;
}

.intro {
  margin: 0;
  display: flex;
  flex-direction: column;
  padding: 6% 6%;
  background: url('./images/header-shapes-mobile.svg') 0 50px no-repeat;
  background-size: 100% auto;
  height: 660px;
  border-bottom-left-radius: 10% 10%;
  background-color: #fff;
  width: 100%;
}

.intro > h1 {
  font-size: 2.6em;
  line-height: 1.4em;
  font-family: Poppins-extrabold, sans-serif;
  padding-top: 3.3em;
  padding-right: 0.4em;
  margin-top: 1.1em;
  margin-bottom: 0.2em;
  font-weight: 700px;
  white-space: nowrap;
}

.intro > h2 {
  font-size: 32px;
  font-family: Poppins-extrabold, sans-serif;
  margin-top: 0.3em;
  margin-bottom: 0.32em;
  white-space: nowrap;
}

.intro > p {
  text-decoration: solid;
  padding-right: 5%;
}

.imgalin {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

.section1 {
  display: grid;
  grid-template-columns: 1fr;
  grid-row-gap: 0.2%;
}

div {
  overflow: hidden;
  padding: 0;
  margin: 0;
}

.section1 > div {
  border: 1px solid #dfe1e6;
  border-radius: 15px;
  margin-top: 13%;
  padding-left: 4%;
  padding-top: 4%;
  padding-right: 4%;
  margin-left: 6%;
  margin-right: 6%;
  padding-bottom: 10%;
  background-color: white;
}

.about {
  display: flex;
  flex-direction: column;
  padding-left: 8%;
  padding-right: 8%;
  padding-top: 5%;
  padding-bottom: 10%;
  background-color: white;
  margin-top: 20%;
  border-top-right-radius: 19% 9%;
}

.section1 > h1> {
  font-size: 2.5em;
  line-height: 1.4em;
  font-family: Poppins-extrabold, sans-serif;
  padding-top: em;
  margin-bottom: 0.32em;
}

.about > h1 {
  font-size: 2.5em;
  line-height: 1.4em;
  font-family: Poppins-extrabold, sans-serif;
  padding-top: em;
  margin-bottom: 0.32em;
}

.section1 > h2 {
  font-size: 27px;
  font-family: Poppins-extrabold, sans-serif;
  margin-top: 0.2em;
  margin-bottom: 0.7em;
}

.about > h2 {
  font-size: 32px;
  font-family: Poppins-extrabold, sans-serif;
  margin-top: 0.3em;
  margin-bottom: 0.7em;
  padding-top: 2em;
}

.section1 > p,
.about > {
  text-decoration: solid;
  margin-top: 0.5em;
  padding: 0;
}

.section1 .sublinks {
  display: flex;
  flex-direction: row;
  margin-top: 5%;
  font-weight: 500;
}

.language-skill {
  display: flex;
  width: 20rem;
  align-items: center;
  height: 5rem;
  margin-top: 0.2rem;
  border-radius: 8px;
}

.language-skill > li {
  margin-left: 1rem;
}

.contact > p {
  color: #fff;
  font-size: 1em;
  font-weight: 400;
  line-height: 28px;
  text-align: center;
  font-family: Poppins-Light, sans-serif;
  margin-top: 5%;
  margin-bottom: 10%;
  padding-right: 6%;
  padding-left: 6%;
}

.language-skill > li > p {
  color: #253858;
}

.sublinks .sublinksround {
  display: flex;
  flex-direction: row;
  margin-top: 3%;
  margin-bottom: 3%;
}

.sublinks > ul {
  padding: 0;
  display: flex;
  width: 60%;
  justify-content: space-around;
  flex-direction: row;
  list-style-type: disc;
  color: #ebebff;
  margin-left: 5%;
  margin-bottom: 2em;
}

.sublinks > ul > li {
  list-style-type: disc;
  position: relative;
  left: -3px;
}

.sublinksround > ul {
  padding: 0;
  display: flex;
  gap: 10px;
  flex-direction: row;
  list-style-type: disc;
  margin-top: 5%;
  margin-bottom: 1%;
  padding-right: 10%;
  flex-wrap: wrap;
}

.sublinksround > ul > li {
  background-color: #ebebff;
  border: 1 solid #ebebff;
  border-radius: 7px;
  padding: 10px;
  align-items: start;
  margin-top: 5px;
  margin-bottom: 5px;
  text-align: left;
}

.sublinksround > ul > li > a {
  color: #6070ff;
  margin: 0;
}

.section #details {
  text-decoration: solid;
  margin-left: 7%;
  margin-right: 7%;
}

.section #tronic {
  background-color: gray;
  border-radius: 50px;
}

.social-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: 1.2rem;
  padding-left: 0.1rem;
}

.social-container-M {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: 1.2rem;
  margin-top: 0.6rem;
  width: 70%;
}

.link-container {
  margin-top: 1rem;
  width: 70%;
  text-align: left;
}

.link-text {
  font-family: 'Poppins', Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-size: 1rem;
  color: #4d5bd9;
  text-align: left;
}

.tech {
  margin-top: 10%;
  display: flex;
  flex-direction: column;
  width: 70%;
  margin-bottom: 7%;
}

.tech ul {
  display: flex;
  text-decoration: none;
  flex-direction: row;
  justify-content: space-between;
}

.languages {
  display: flex;
  width: 100%;
  align-items: center;
  height: 4rem;
  justify-content: space-between;
  margin-bottom: 5%;
  margin-top: 5%;
}

.language-DK {
  display: flex;
  align-items: center;
  height: 4rem;
  margin-top: 0.1rem;
  justify-content: space-between;
}

.language-skill-DK {
  display: flex;
  flex-direction: row;
  width: 100%;
  background: #f7f7f9;
  border-radius: 10px;
}

hr {
  margin-bottom: 0.2rem;
  width: 100%;
  color: #dfe1e6;
}

.call-to-action {
  margin-top: 1.5rem;
  border: 1px solid #afb7ff;
  border-radius: 8px;
  color: #396df2;
  justify-content: center;
  font-size: 1rem;
  padding: 1rem;
  background-color: #fff;
  margin-bottom: 0;
  z-index: 1;
  width: fit-content;
  white-space: nowrap;
  font-weight: bold;
}

button:hover {
  background-color: #5564eb;
  color: #fff;
  box-shadow: 0 8px 16px 0 #dfe1e6;
}

button:active {
  background-color: #2230d2;
  color: #fff;
}

button :disabled {
  background-color: #fff;
  color: #5e6c84;
}

.contact {
  display: flex;
  flex-direction: column;
  background-image: url("./images/contact-form-shapes-mobile.png");
  background-repeat: no-repeat;
  margin-top: 10%;
  padding-top: 18%;
  padding-left: 1%;
  border-radius: 50px 0 0 0;
  background-color: #6070ff;
  background-size: 50%;
  background-position: 100% 33%;
  align-items: center;
  padding-bottom: 30%;
}

form {
  width: inherit;
  margin: 0;
  text-align: center;
}

.contact > h1 {
  color: #fff;
  font-size: 40px;
  font-weight: 800;
  line-height: 52px;
  text-align: center;
  padding-right: 2%;
  margin-top: 2%;
}

input[type=text],
input[type=email] {
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 10px;
  border: 1px solid #2d9fd9;
  width: 90%;
  height: 40px;
  font-size: 1em;
  color: #172b4d;
  padding: 3%;
  margin-bottom: 3%;
}

input[type=text]:focus {
  outline: none;
  border: 1px solid #a0d18c;
  color: #172b4d;
}

textarea {
  outline: none;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 10px;
  border: 1px solid #2d9fd9;
  width: 90%;
  height: 55%;
  font-size: 1em;
  padding: 5%;
  font-family: inherit;
}

.call-to-action-contact {
  text-align: left;
  margin-left: 6%;
}

#humbuger {
  display: block;
  position: fixed;
  top: 1rem;
  right: 1rem;
}

#Logo {
  width: 30%;
  font-family: 'Poppins', Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  color: #5564eb;
  margin: 0;
  display: block;
  background-color: white;
  white-space: nowrap;
}

.imgdesk1,
.imgdesk2,
.imgdesk3,
.imgdesk4 {
  display: none;
}

.imgmob1 {
  display: block;
}

@media (min-width: 768px) {
  #humbuger {
    display: none;
  }

  .call-to-action-contact {
    text-align: center;
    margin-left: 6%;
  }

  .nav-container {
    display: flex;
    flex-direction: row;
    width: auto;
  }

  .nav-menu {
    display: flex;
    flex-direction: row;
    justify-content: end;
  }

  .nav-menu > li {
    display: flex;
    margin-right: 10%;
  }

  .nav-menu > li > a {
    align-self: center;
    font-size: 14px;
    color: #344563;
  }

  .nav-menu.active {
    right: 0;
  }

  .sublinksround > ul {
    padding: 0;
    display: flex;
    gap: 10px;
    flex-direction: row;
    list-style-type: disc;
    margin-top: 3%;
    margin-bottom: 1%;
    direction: ltr;
  }

  .sublinksround > ul > li {
    background-color: #ebebff;
    border: 1 solid #ebebff;
    border-radius: 7px;
    padding: 7px;
    align-items: start;
    margin-top: 5px;
    margin-bottom: 5px;
    text-align: left;
  }

  .intro {
    margin: 0;
    display: flex;
    flex-direction: column;
    background: url('./images/header-shapes-desktop.png') 0 50px no-repeat;
    background-size: 100% auto;
    border-bottom-left-radius: 10% 10%;
    background-color: #fff;
    padding-left: 13%;
    padding-right: 10%;
  }

  .intro > h1 {
    font-size: 48px;
    font-family: Poppins-extrabold, sans-serif;
    margin-top: 0;
    margin-bottom: 0.32em;
    padding-right: 1%;
  }

  .intro > p {
    text-decoration: solid;
    font-size: 17px;
  }

  .imgalin {
    object-fit: contain;
    max-width: 100%;
    height: 100%;
    margin: 0;
  }

  .section1 {
    display: flex;
    flex-direction: column;
  }

  header {
    display: flex;
    font-weight: 700;
    font-family: Poppins-semibold, sans-serif;
    font-size: 1.125em;
    width: auto;

    /* Primary/B400 */
    color: #6070ff;
    align-items: center;
    justify-content: space-between;
    background-position: bottom 0;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 1%;
    background-color: #fff;
  }

  .card-one,
  .card-two,
  .card-three,
  .card-four,
  .card-five {
    display: grid;
    grid-template-columns: 50% 50%;
    justify-content: center;
    padding: 5%;
    height: auto;
    width: auto;
    gap: 5%;
  }

  .switch {
    order: 1;
  }

  h2 {
    font-size: 2.5em;
    line-height: 1em;
    font-family: Poppins-extrabold, sans-serif;
    font-weight: 700px;
    margin-bottom: 2%;
  }

  .section1 > div {
    margin-top: 4%;
    padding-bottom: 2%;
    padding-top: 2%;
  }

  .grid-element {
    margin-top: 10%;
  }

  .about {
    display: flex;
    flex-direction: column;
    padding-left: 8%;
    padding-right: 8%;
    padding-top: 5%;
    padding-bottom: 10%;
    background-color: white;
    margin-top: 5%;
    border-top-right-radius: 19% 9%;
  }

  .skills {
    display: grid;
    grid-template-columns: auto auto auto;
    width: 100%;
    margin-top: 0.1rem;
    gap: 3%;
  }

  .skills > ul {
    display: flex;
    flex-direction: column;
    align-items: start;
    margin-top: 3%;
    font-weight: bolder;
  }

  .skills > ul > li {
    margin-top: 5%;
  }

  .languages {
    display: flex;
    width: 100%;
    align-items: first baseline;
    height: 4rem;
    justify-content: space-between;
    margin-bottom: 5%;
    margin-top: 0%;
    flex-direction: row;
  }

  .language-DK {
    display: flex;
    align-items: center;
    height: 4rem;
    margin-top: 0.1rem;
    width: 100%;
    justify-content: space-between;
  }

  .language-skill-DK {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 115px;
    background: #f7f7f9;
    border-radius: 9px;
    margin-top: 3%;
  }

  .contact {
    display: flex;
    flex-direction: column;
    background-image: url("./images/contact-form-background-shapes.svg");
    background-repeat: no-repeat;
    margin-top: 5%;
    padding-top: 10%;
    padding-left: 1%;
    background-color: #6070ff;
    background-size: 100%;
    background-position: 85% 25%;
    align-items: center;
    padding-bottom: 7%;
    border-radius: 0;
  }

  .contact > p {
    color: #fff;
    margin-top: 2%;
    margin-bottom: 5%;
    width: 60%;
  }

  .call-to-action {
    margin-top: 1.5rem;
    border: 1px solid #afb7ff;
    border-radius: 8px;
    color: #396df2;
    justify-content: center;
    font-size: 1rem;
    padding: 1rem;
    background-color: #fff;
    margin-bottom: 0;
    z-index: 1;
    width: fit-content;
    white-space: nowrap;
    font-weight: bold;
  }

  .imgdesk1,
  .imgdesk2,
  .imgdesk3,
  .imgdesk4 {
    display: block;
  }

  .imgmob1,
  .imgmob2,
  .imgmob3,
  .imgmob4 {
    display: none;
  }

  form {
    height: 50%;
    width: 50%;
    margin: 0;
    text-align: center;
  }
}
