
@font-face {
  font-family: Poppins;
  src: url(fonts/Poppins-Regular.ttf);
}

@font-face {
  font-family: Poppins-light;
  src: url(fonts/Poppins-Light.ttf);
}

@font-face {
  font-family: Poppins-extrabold;
  src: url(fonts/Poppins-ExtraBold.ttf);
}

@font-face {
  font-family: Poppins-semibold;
  src: url(fonts/Poppins-SemiBold.ttf);
}

a {
  text-decoration: none;
  color: grey;
}

a:hover {
  color: #172b4d;
}

li {
  list-style: none;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  line-height: 1.5em;
  display: grid;
  grid-template-columns: auto;
  color: #172b4d;
  overflow-y: scroll;
  height: 100%;
  background-color: #f5f5f5;
}

.toogleNav {
  display: none;
}

.bar {
  display: block;
  width: 20px;
  margin: 3px auto;
  height: 2px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: #6070ff;
  overflow-y: scroll;
}

header {
  display: flex;
  font-weight: 700;
  font-family: Poppins-semibold, sans-serif;
  font-size: 1.125em;

  /* Primary/B400 */
  color: #6070ff;
  align-items: center;
  justify-content: space-between;
  background-position: bottom 0;
  padding-left: 7%;
  padding-right: 7%;
  padding-top: 13%;
  background-color: #FFFFFF;
  
}


.intro {
  margin: 0;
  display: flex;
  flex-direction: column;
  padding: 7% 7%;
  background: url('./images/header-shapes-mobile.svg') 0 50px no-repeat;
  background-size: 100% auto;
  height: 660px;
  border-bottom-left-radius:10% 10%;
  background-color: #FFFFFF;
}
.intro > h1 {
  font-size: 2.6em;
  line-height: 1.4em;
  font-family: Poppins-extrabold, sans-serif;
  padding-top: 3.3em;
  padding-right: 0.4em;
  margin-top: 1.1em;
  margin-bottom: 0.2em;
  font-weight: 700px;
}

.intro > h2 {
  font-size: 32px;
  font-family: Poppins-extrabold, sans-serif;
  margin-top: 0.3em;
  margin-bottom: 0.32em;
}

.intro > p {
  text-decoration: solid;
  padding: 0;
}

.imgalin {

  margin-left: auto;
  margin-right: auto;
  width:100%;
  
}


.section1 {
  display:flex;
  flex-direction: column;
  border: 1px solid #DFE1E6;
  border-radius: 15px;
  padding-left: 3%;  
  padding-right:5%; 
  padding-top: 5%;
  padding-bottom: 10%;
  background-color: white;
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 10%;
}

.about {
  display:flex;
  flex-direction: column;
  border-radius: 15px;
  padding-left: 5%;  
  padding-right:5%; 
  padding-top: 5%;
  padding-bottom: 10%;
  background-color: white;
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 10%;
  border-top-right-radius:15% 15%;
  background-color: #FFFFFF;
}

.section1 > h1>,.about >h1  {
  font-size: 2.5em;
  line-height: 1.4em;
  font-family: Poppins-extrabold, sans-serif;
  padding-top: 3em;
  margin-bottom: 0.32em;
}

.section1 > h2 ,.about >h2{
  font-size: 32px;
  font-family: Poppins-extrabold, sans-serif;
  margin-top: 0.3em;
  margin-bottom: 0.32em;
}

.section1 > p,.about > {
  text-decoration: solid;
  margin-top: 0.93em;
  padding: 0;
}

.section1 .sublinks {
  display: flex;
  flex-direction: row;
  margin-top: 5%;
  font-weight: 500;
}


.language-skill {
  display: flex;
  width: 20rem;
  align-items: center;
  height: 5rem;
  margin-top: 0.2rem;
  border-radius: 8px;
}

.language-skill > li {
  margin-left: 1rem;
}

.language-skill > li > p {
  color: #253858;
}

.sublinks .sublinksround {
  display: flex;
  flex-direction: row;
  margin-top: 5%;
  margin-bottom: 5%;
  width:100%; 
  
}


.sublinks > ul {
  padding: 0;
  display: flex;
  width: 60%;
  justify-content: space-around;
  flex-direction: row;
  list-style-type: disc;
  color:#C1C7D0;
  margin-left:5%;
  margin-bottom: 2em;
}

.sublinks > ul > li {
  list-style-type: disc;
  position: relative;
  left: -3px;
  
}

.sublinksround > ul {
  padding: 0;
  display: flex;  
  width: 50%;
  justify-content:space-around;
  align-items: left;
  flex-direction: row;
  list-style-type: disc;
  margin-top: 5%;
  margin-bottom: 1%;
  color: #6070ff;
  flex-wrap: wrap;
  
}

.sublinksround > ul > li {
  background-color: #ebebff;
  border: 1 solid #ebebff;
  border-radius: 8px;
  padding: 8px;
  color: #6070ff;
}


.section .seeproject {
  font-weight: 600;
  font-size: 15px;
  margin-top: 10px;
  border: 1px solid #396df2;
  border-radius: 8px;
  color: #396df2;
  padding: 12px;
  width: 40%;
}

.seeprojectfooter a {
  font-weight: 600;
  font-size: 15px;
  margin-top: 10px;
  margin-bottom: 20px;
  border: 1px solid #396df2;
  border-radius: 8px;
  color: #396df2;
  padding: 12px;
  width: 50%;
  display: block;
}

.connect a {
  font-weight: 600;
  font-size: 15px;
  margin-top: 10px;
  margin-bottom: 20px;
  color: #396df2;
  padding: 12px;
}

.section #details {
  text-decoration: solid;
  margin-left: 7%;
  margin-right: 7%;
}

.section #tronic {
  background-color: gray;
  border-radius: 50px;
}

.social-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: 1.2rem;
  padding-left: 0.1rem;
}

.social-container-M {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: 1.2rem;
  margin-top: 0.6rem;
  width: 70%;
}

.link-container {
  margin-top: 1rem;
  width: 70%;
  text-align: left;
}

.link-text {
  font-family: 'Poppins', Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-size: 1rem;
  color: #4d5bd9;
  text-align: left;
}

.tech {
  margin-top: 10%;
  display: flex;
  flex-direction: column;
  width: 70%;
  margin-bottom: 7%;
}

.tech ul {
  display: flex;
  text-decoration: none;
  flex-direction: row;
  justify-content: space-between;
}

.languages {
  display: flex;
  width: 100%;
  align-items: center;
  height: 4rem;
  margin-top: 0.1rem;
  justify-content: space-between;
  margin-bottom:5%;
  margin-top:5%;
}
.language-DK {
  display: flex;
  width: 100%;
  align-items: center;
  height: 4rem;
  margin-top: 0.1rem;
  justify-content: space-between;
 
}

.language-skill-DK {
  display: flex;
  flex-direction: row;
  width: 100%;
  background: #F7F7F9;
  border-radius: 10px;
}

hr {
  margin-bottom: 0.2rem;
  width: 100%;
  color: #dfe1e6;
}

.call-to-action {
  margin-top: 1.5rem;
  border: 2px solid #5564eb;
  border-radius: 8px;
  color: #396df2;
  justify-content: center;
  font-size: 1rem;
  padding: 1rem;
  width: 10%;
  background-color: #fff;
  margin-bottom: 0rem;
  z-index: 1;
  width: fit-content;
  white-space: nowrap;
  font-weight: bold;
}

button:hover{
  background-color: #5564eb;
  color: #fff;
  box-shadow: 0 8px 16px 0 #dfe1e6;
 }

button:active {
  background-color: #2230d2;
  color: #fff;
}

button :disabled {
  background-color: #fff;
  color: #5e6c84;
}

@media (max-width: 375px) {
  .switch {
    display: block;
    cursor: pointer;
    position: fixed;
    top: 1rem;
    right: 1rem;
  }
}

@media (max-width: 768px) {
  .switch {
    display: none;
  }
}
