
@font-face {
  font-family: Poppins;
  src: url(fonts/Poppins-Regular.ttf);
}

@font-face {
  font-family: Poppins-light;
  src: url(fonts/Poppins-Light.ttf);
}

@font-face {
  font-family: Poppins-extrabold;
  src: url(fonts/Poppins-ExtraBold.ttf);
}

@font-face {
  font-family: Poppins-semibold;
  src: url(fonts/Poppins-SemiBold.ttf);
}

a {
  text-decoration: none;
  color: #6070ff;
}

a:hover {
  color: #172b4d;
}

li {
  list-style: none;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  line-height: 1.5em;
  display: grid;
  grid-template-columns: auto;
  color: #172b4d;
  overflow-y: scroll;
  height: 100%;
}

.toogleNav {
  display: none;
}

.bar {
  display: block;
  width: 20px;
  margin: 3px auto;
  height: 2px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: #6070ff;
  overflow-y: scroll;
}

header {
  display: flex;
  font-weight: 700;
  font-family: Poppins-semibold, sans-serif;
  font-size: 1.125em;

  /* Primary/B400 */
  color: #6070ff;
  align-items: center;
  justify-content: space-between;
  background-position: bottom 0;
  margin-left: 7%;
  margin-right: 7%;
  margin-top: 13%;
}

.intro > h1 {
  font-size: 2.6em;
  line-height: 1.4em;
  font-family: Poppins-extrabold, sans-serif;
  padding-top: 2em;
  padding-right: 0.4em;
  margin-top: 1.1em;
  margin-bottom: 0.2em;
  font-weight: 700px;
}

.intro > h2 {
  font-size: 32px;
  font-family: Poppins-extrabold, sans-serif;
  margin-top: 0.3em;
  margin-bottom: 0.32em;
}

.intro > p {
  text-decoration: solid;
  padding: 0;
}

.section {
  border: 1px solid rgb(224, 223, 223);
  border-radius: 10px;
  padding-left: 6%;
  padding-right: 3%;
  padding-top: 3%;
  padding-bottom: 10%;
}

.imgalin {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.section,
.section2 {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  min-height: auto;
  margin-top: 2.5em;
  margin-left: 7%;
  margin-right: 3%;
}

.section > h1 {
  font-size: 2.5em;
  line-height: 1.4em;
  font-family: Poppins-extrabold, sans-serif;
  margin-top: 2.3em;
  margin-bottom: 0.32em;
}

.section > h2 {
  font-size: 32px;
  font-family: Poppins-extrabold, sans-serif;
  margin-top: 0.3em;
  margin-bottom: 0.32em;
}

.section > p {
  text-decoration: solid;
  padding: 0;
}

.section .sublinks {
  display: flex;
  flex-direction: row;
  margin-top: 5%;
  margin-bottom: 5%;
  font-weight: 500;
}

.contact p {
  color: #fff;
  padding-top: 5%;
  font-size: 1em;
  font-weight: 400;
  line-height: 28px;
  text-align: center;
  font-family: Poppins-Light, sans-serif;
  margin-bottom: 15%;
  margin-right: 5%;
}

.language-skill {
  display: flex;
  width: 20rem;
  align-items: center;
  height: 5rem;
  margin-top: 0.2rem;
  border-radius: 8px;
}

.language-skill > li {
  margin-left: 1rem;
}

.language-skill > li > p {
  color: #253858;
}

.sublinks .sublinksround {
  display: flex;
  flex-direction: row;
  margin-top: 5%;
  margin-bottom: 5%;
}

.intro {
  margin: 0;
  max-width: 37.5rem;
  padding: 7% 7%;
  background: url('./images/header-shapes-mobile.svg') 0 50px no-repeat;
  background-size: 100% auto;
  height: 750px;
}

.sublinks > ul {
  padding: 0;
  display: flex;
  width: 70%;
  justify-content: space-around;
  flex-direction: row;
  list-style-type: disc;
  color: grey;
}

.sublinks > ul > li {
  list-style-type: disc;
}

.sublinksround > ul {
  padding: 0;
  display: flex;
  width: 70%;
  justify-content: space-around;
  flex-direction: row;
  list-style-type: disc;
  margin-top: 5%;
  margin-bottom: 10%;
  color: #6070ff;
}

.sublinksround > ul > li {
  background-color: #ebebff;
  border: 1 solid #ebebff;
  border-radius: 8px;
  padding: 8px;
}

.section .seeproject {
  font-weight: 600;
  font-size: 15px;
  margin-top: 10px;
  border: 1px solid #396df2;
  border-radius: 8px;
  color: #396df2;
  padding: 12px;
  width: 40%;
}

.seeprojectfooter a {
  font-weight: 600;
  font-size: 15px;
  margin-top: 10px;
  margin-bottom: 20px;
  border: 1px solid #396df2;
  border-radius: 8px;
  color: #396df2;
  padding: 12px;
  width: 50%;
  display: block;
}

.connect a {
  font-weight: 600;
  font-size: 15px;
  margin-top: 10px;
  margin-bottom: 20px;
  color: #396df2;
  padding: 12px;
}

.section #details {
  text-decoration: solid;
  margin-left: 7%;
  margin-right: 7%;
}

.section #tronic {
  background-color: gray;
  border-radius: 50px;
}

footer {
  font-size: 1em;
  font-weight: 600;
  font-style: normal;
  line-height: 1.5em;
  color: #7f8cff;
  margin-top: 10%;
  margin-left: 7%;
  margin-right: 7%;
}

.social-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: 1.2rem;
  padding-left: 0.1rem;
}

.social-container-M {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: 1.2rem;
  margin-top: 0.6rem;
  width: 70%;
}

.link-container {
  margin-top: 1rem;
  width: 70%;
  text-align: left;
}

.link-text {
  font-family: 'Poppins', Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-size: 1rem;
  color: #4d5bd9;
  text-align: left;
}

.tech {
  margin-top: 10%;
  display: flex;
  flex-direction: column;
  width: 70%;
  margin-bottom: 7%;
}

.tech ul {
  display: flex;
  text-decoration: none;
  flex-direction: row;
  justify-content: space-between;
}

.contact {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  background-image: url("./images/contact.svg");
  background-repeat: no-repeat;
  background-position: 0 2.0375em;
  padding-top: 35%;
  padding-left: 5%;
  margin-left: 7%;
  margin-right: 7%;
  min-height: 120vh;
}

.contact h1 {
  color: #fff;
  font-size: 40px;
  font-weight: 700;
  line-height: 52px;
  text-align: center;
}

input[type=text] {
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 10px;
  border: 1px solid #2d9fd9;
  width: 90%;
  height: 45px;
  font-size: 1.2em;
  color: #172b4d;
  padding: 5%;
  margin-bottom: 5%;
}

input[type=text]:focus {
  outline: none;
  border: 1px solid #a0d18c;
  color: #172b4d;
}

textarea {
  outline: none;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 10px;
  border: 1px solid #2d9fd9;
  width: 90%;
  height: 60%;
  font-size: 0.9em;
  color: #b3bac5;
  padding: 5%;
  font-family: inherit;
}

.submit-button {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  font-size: 1.2em;
  border: 1px solid #2d9fd9;
  color: #6070ff;
  padding: 3%;
  font-family: inherit;
}

.language {
  display: flex;
  flex-direction: column;
  width: 8rem;
  align-items: flex-start;
  padding-right: 2rem;
  height: 6rem;
  padding-top: 0.4rem;
  border-radius: 8px;
}

.language-DK {
  display: flex;
  width: 20rem;
  align-items: center;
  height: 3rem;
  margin-top: 0.1rem;
  justify-content: space-between;
  border-radius: 8px;
}

.language-skill-DK {
  display: flex;
  flex-direction: row;
  width: 8rem;
  align-items: flex-start;
  padding-right: 2rem;
  height: 6rem;
  padding-top: 0.4rem;
  background: #f7f7f9;
  border-radius: 8px;
}

hr {
  margin-bottom: 0.2rem;
  width: 20rem;
  color: #dfe1e6;
}

.call-to-action {
  margin-top: 1.5rem;
  border: 2px solid #5564eb;
  border-radius: 8px;
  color: #396df2;
  text-align: center;
  justify-content: center;
  font-size: 1rem;
  padding: 1rem;
  width: 8rem;
  background-color: #fff;
  margin-bottom: 2rem;
}

button:hover {
  background-color: #5564eb;
  color: #fff;
  box-shadow: 0 8px 16px 0 #dfe1e6;
}

button:active {
  background-color: #2230d2;
  color: #fff;
}

button :disabled {
  background-color: #fff;
  color: #5e6c84;
}

@media (max-width: 375px) {
  .switch {
    display: block;
    cursor: pointer;
    position: fixed;
    top: 1rem;
    right: 1rem;
  }
}

@media (max-width: 768px) {
  .switch {
    display: none;
  }
}
